.vj {
  width: 350px;
  margin-top: 25px;
  border-radius: 300px;
  margin-left: -1px;
  height: 360px;
}
.vn {
  border-radius: 300px;
  width: 400px;
  height: 400px;
}
.vnn {
  border-radius: 300px;
  width: 490px;
  height: 370px;
}
